---
export interface Props {
  activeLink: string;
}

let { activeLink = 'Home' } = Astro.props;
---

<nav>
  <div class="logo-wrapper">
    <a href="/" class="link logo">
      <svg
        width="160"
        viewBox="0 0 3191 636"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <mask
          id="mask0_257_2122"
          style="mask-type:alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="657"
          height="636"
        >
          <path
            d="M656.739 308.783H326.065V636H0V0H656.739V308.783Z"
            fill="#B4F048"></path>
        </mask>
        <g mask="url(#mask0_257_2122)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M180.891 28.804C145.761 28.804 47.2383 28.8037 47.2383 28.8037C47.2383 28.8037 47.2386 123.772 47.2386 162.456V452.804C47.2386 526.618 107.077 586.456 180.891 586.456H471.239C545.053 586.456 604.891 526.618 604.891 452.804V162.456C604.891 88.6421 545.053 28.804 471.239 28.804H180.891ZM468.934 164.76H185.499V448.195H468.934V164.76Z"
            fill="#B4F048"></path>
        </g>
        <path
          d="M326.063 311.084V447.041H437.824L558.803 588.758L654.755 518.414L468.933 311.084H326.063Z"
          fill="#B4F048"></path>
        <path
          d="M1008.6 429.756H1048.51V307.37H1204.68V429.756H1244.15V315.705C1244.15 297.72 1237.14 283.244 1212.57 283.244H1189.76C1222.66 274.91 1243.72 251.661 1243.72 205.163C1243.72 136.732 1195.46 120.502 1123.08 120.502H1008.6V429.756ZM1048.51 273.155V154.717H1123.08C1173.09 154.717 1204.24 159.104 1204.24 213.936C1204.24 267.452 1173.09 273.155 1123.08 273.155H1048.51ZM1290.24 429.756H1329.28V337.199C1329.28 278.419 1358.67 240.694 1406.05 240.694C1443.33 240.694 1460.44 258.24 1460.44 302.984V429.756H1499.48V298.597C1499.48 239.817 1469.65 207.356 1419.65 207.356C1371.39 207.356 1341.13 231.921 1329.28 270.962V107.342H1290.24V429.756ZM1753.24 211.743H1714.2V304.3C1714.2 363.08 1684.81 400.804 1637.44 400.804C1600.15 400.804 1583.04 383.258 1583.04 338.515V211.743H1544V342.902C1544 401.682 1573.83 434.142 1623.84 434.142C1672.09 434.142 1702.36 409.578 1714.2 370.537V481.956H1556.28V515.294H1722.97C1743.59 515.294 1753.24 506.082 1753.24 488.536V211.743ZM1944.75 396.418L1867.55 396.856V245.081H1935.98V211.743H1867.55V144.628L1828.51 156.472V211.743H1780.26V245.081H1828.51V399.05C1828.51 420.105 1838.6 429.756 1859.21 429.756H1944.75V396.418ZM1985.31 429.756H2024.35V337.199C2024.35 278.419 2053.74 240.694 2101.11 240.694C2138.4 240.694 2155.51 258.24 2155.51 302.984V429.756H2194.55V298.597C2194.55 239.817 2164.72 207.356 2114.71 207.356C2066.46 207.356 2036.19 231.921 2024.35 270.962V107.342H1985.31V429.756ZM2240.42 429.756H2279.46V339.392C2279.46 281.051 2300.95 240.694 2347.01 240.694C2379.47 240.694 2390.44 264.382 2390.44 306.493V429.756H2429.48V339.392C2429.48 281.051 2450.97 240.694 2497.03 240.694C2529.49 240.694 2540.46 264.382 2540.46 306.493V429.756H2579.5V301.668C2579.5 243.326 2555.81 207.356 2506.24 207.356C2461.94 207.356 2435.62 233.676 2423.77 266.136C2416.32 229.728 2395.26 207.356 2358.41 207.356C2315.43 207.356 2290.42 234.114 2279.46 266.575V211.743H2240.42V429.756ZM2627.48 429.756H2667.4V299.474H2813.47V265.698H2667.4V154.717H2832.78V120.502H2627.48V429.756ZM2851.97 429.756H3009.45V396.418H2948.48V237.185C2948.48 219.2 2939.7 211.743 2923.91 211.743H2867.32V245.081H2912.51V396.418H2851.97V429.756ZM2894.96 145.067C2894.96 162.174 2908.56 174.457 2925.66 174.457C2943.21 174.457 2957.25 162.174 2957.25 145.067C2957.25 127.959 2943.21 115.677 2925.66 115.677C2908.56 115.677 2894.96 127.959 2894.96 145.067ZM3168.88 396.418L3091.68 396.856V245.081H3160.11V211.743H3091.68V144.628L3052.64 156.472V211.743H3004.39V245.081H3052.64V399.05C3052.64 420.105 3062.73 429.756 3083.35 429.756H3168.88V396.418Z"
          fill="#EFEEEC"></path>
      </svg>
    </a>
  </div>
  <div class="links">
    <a
      href="/"
      class:list={[
        'link',
        {
          _active: activeLink === 'Home',
        },
      ]}>Home</a
    >
    <a
      href="/product"
      class:list={[
        'link',
        {
          _active: activeLink === 'Product',
        },
      ]}>Product</a
    >
    <a
      href="/about"
      class:list={[
        'link',
        {
          _active: activeLink === 'About',
        },
      ]}>About</a
    >
    <a
      href="/contact"
      class:list={[
        'link',
        {
          _active: activeLink === 'Contact',
        },
      ]}>Contact</a
    >
  </div>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    padding: 16px 64px;
    font-size: 20px;
  }

  .logo-wrapper {
    margin-right: auto;
  }

  .link {
    padding: 10px 0px;
    margin-left: 128px;
    border-radius: 4px;
    transition: 0.2s;
    text-underline-offset: 8px;
  }

  .link._active {
    text-decoration: underline;
  }

  .link:hover {
    text-decoration: underline;
  }

  .logo {
    display: grid;
    margin: 0;
  }
</style>
