---
import './App.css';
import Nav from '../components/Nav.astro';
let { activeLink, zen = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{activeLink + ' | RythmFit'}</title>
  </head>
  <body>
    <main>
      {!zen && <Nav activeLink={activeLink} />}
      <slot />
    </main>

    <script src="./App.js"></script>
  </body>
</html>
